.youWon {
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: 4px;
  position: relative;
  background-color: #151515;
  opacity: 0.8;

  &__content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;

    transform: translate(-50%, -50%);
    padding: 2rem;
    & h3 {
      margin: 1rem 0 3rem 0;
      padding: 2rem;
      font-size: 2.5rem;
      background-color: #ccc;
      border-radius: 4px;
      color: green;
      font-weight: bolder;
      width: 100%;
    }
    &__startGame {
      color: black;
      background-color: #ffc300;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 1rem;
      border-radius: 4px;
      width: 200px;
      margin: 0 auto;
      text-align: center;
      margin-top: 4rem;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: green;
        font-weight: bolder;
      }
    }
  }
}
