.dungeonLayout {
  color: #fff;
  height: 65%;
  background-image: linear-gradient(
      to right bottom,
      rgba(darken(grey, 35%), 0.95),
      rgba(black, 0.95)
    ),
    url("../../assets/images/defaultBackground.jpg");
  background-size: cover;

  h3 {
    padding: 0.5rem;
    font-size: 2rem;
  }
}
