.characterStats {
  height: 100%;
  border-right: 2px solid #2a2a2a;
  color: #fff;
  &:last-child {
    border: 0;
  }

  & h3 {
    font-size: 2rem;
    font-weight: bolder;
    padding: 0.5rem;
    border-bottom: solid 1px white;
  }

  &__items {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem 0;

    & i {
      margin-right: 1.5rem;
    }
  }

  &__health {
    color: #78ab46;
    font-size: 1.6rem;
  }
  &__attack {
    color: #ff6666;
    font-size: 1.6rem;
  }
  &__defense {
    color: #6699cc;
    font-size: 1.6rem;
  }
  &__attackType {
    color: #ffae19;
    font-size: 1.6rem;
  }
  &__defenseType {
    color: #d3d3d3;
    font-size: 1.4rem;
  }
}
