.characterPortrait {
  box-sizing: border-box;
  height: 100%;

  text-align: center;
  border-right: 2px solid #2a2a2a;
  color: #fff;

  &__info {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 0.2rem;
  }

  &__character {
    height: 80%;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 4px outset #ccc;
    &:hover {
      background-color: darken(#f7f7f7, 10%);
    }
  }

  img {
    height: 100%;
  }
}
